[submodule "oscar-api"]
	path = oscar-api
	url = git@github.com:delta62/oscar-api.git
[submodule "oscar-seed"]
	path = oscar-seed
	url = git@github.com:delta62/oscar-seed.git
[submodule "oscar-ui"]
	path = oscar-ui
	url = git@github.com:delta62/oscar-ui.git
[submodule "oscar-static"]
	path = oscar-static
	url = git@github.com:delta62/oscar-static.git
[submodule "oscar-resources"]
	path = oscar-resources
	url = git@github.com:codifiman/oscar-resources.git
